#ext-ethersecuritylookup-popup {
  margin: 0;
  padding: 0px;
  font-family: "Arial";
  font-size: 12pt;
  width: 300px;

  #content {
    padding: 15px;
    margin-top: 15px;
  }

  #footer {
    font-size: 70%;
  }
}
